/cloudfunctionRoot/send/node_modules/
/cloudfunctionRoot/send/package-lock.json
/cloudfunctionRoot/subscribe/node_modules/
/cloudfunctionRoot/subscribe/package-lock.json
/cloudfunctionRoot/next/node_modules/
/cloudfunctionRoot/next/package-lock.json